<!--CONTACTENOS-->
            <div data-scroll-index="3"class="contactenos-disenio" id="disenio-hablenos">
                <div class="container">
                    <div class="contact-cont">
                        <p>Empieza tu proyecto con OPENCLICK y confía en nosotros que le pondremos todo el apoyo, si quieres </p>
                        <p>más información no dudes en contactarnos. Visitas sin compromiso.</p>
                    </div>
                    <br>
                    <div class="row" style="margin-top: 50px;">
                        <div class="col-lg-8 col-sm-8">
                            <form class="form-horizontal" name="frmcontactenos" id="frmcontactenos">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <span style="font-style: italic; color: #fff;">¿Cómo te llamas?</span>
                                        <input type="text" class="form-control" name="nombre" id="nombre" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
                                    </div>
                                    <div class="form-group">
                                        <span style="font-style: italic; color: #fff;">¿Cual es tu teléfono?</span>
                                        <input type="text" class="form-control" name="telefono" id="telefono">
                                    </div>
                                    <div class="form-group">
                                        <span style="font-style: italic; color: #fff;">¿Cual es tu correo?</span>
                                        <input type="text" class="form-control" name="correo" id="correo">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <span style="font-style: italic; color: #fff;">¿En que te podemos ayudar?</span>
                                    <textarea class="textar" placeholder="" name="mensaje" id="mensaje"></textarea>
                                    <div class="text-center">
                                        <a class="btn-enviar-disenio" id="EnviarForm">Enviar</a>
                                    </div>
                                </div>
                                <div id="dialog" title="Mensaje Contactenos" style="display:none;">
                                    <p id="rpta"></p>
                                </div>
                            </form>


                        </div>
                        <div class="col-lg-3 col-sm-3 text-center bloq-telef">
                            <p>Nuestros teléfonos:</p>
                            <p><b>(511)964 359 070</b>
                            </p>
                            <p style="margin-top: 10px;">Nuestro correo:</p>
                            <p><b>ventas@openclick.pe</b>
                            </p>
                            <p style="margin-top: 10px;">Nuestras Redes Sociales:</p>
                            <br>
                            <a href="https://www.facebook.com/" target="_blank"><img src="openclick/face.png" alt="">
                            </a>
                            <a href="https://twitter.com/" target="_blank"><img src="openclick/twitter.png" alt="">
                            </a>
                            <a href="https://www.youtube.com/" target="_blank"><img src="openclick/youtube.png" alt="">
                            </a>
                            <a href="https://plus.google.com/" target="_blank"><img src="openclick/gmas.png" alt="">
                            </a>
                        </div>
                    </div>
                </div> <!--CONTAINER-->
                <div class="copyright">
                    <p>© 2014 OPENCLICK S.A.C Consultoría - Diseño | Derechos Reservados</p>
                </div>
            </div> <!--CONTACTENOS-->
