<div class="disenio" id="disenio">
    <div class="navbar-fixed-top fixd-colr">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="openclick/logo.png" alt="">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="social pull-right hidden-xs">
                    <li class="hidden-xs">
                        <a class="social" href="https://www.facebook.com/" target="_blank"><img src="openclick/facebook-rojo.png" alt="">
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a class="social" href="https://twitter.com/" target="_blank"><img src="openclick/twitter-rojo.png" alt="">
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a class="social" href="https://www.youtube.com/" target="_blank"><img src="openclick/youtube-rojo.png" alt="">
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a class="social" href="https://plus.google.com/" target="_blank"><img src="openclick/g-rojo.png" alt="">
                        </a>
                    </li>

                    <!--<li class="hidden-xs"><a class="social" href="http://issuu.com/" target="_blank"><img src="../img/issu.png"/></a></li>-->
                </ul>
                <!--
                clase de activo cuanndos en clickeo en el menu
                <li class="active"><a data-scroll-nav="0" data-toggle="collapse" data-target=".navbar-collapse">HOLA</a>-->
                <ul class="nav navbar-nav nav-disenio">
                    <li><a data-scroll-nav="1" data-toggle="collapse" data-target=".navbar-collapse">SERVICIOS</a>
                    </li>
                    <li><a data-scroll-nav="2" data-toggle="collapse" data-target=".navbar-collapse">PORTAFOLIO</a>
                    </li>
                    <li><a data-scroll-nav="3" data-toggle="collapse" data-target=".navbar-collapse">CONTACTENOS</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
