<div class="disenio" id="disenio">
    <!--INICIO-->

    <div data-scroll-index="1" class="hola-disenio" id="disenio-hola">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-top: 50px;">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>
            <!--SLIDE DE INICIO-->
            <div class="carousel-inner">
                <div class="item">
                    <div class="slider1"></div>
                </div>
                <div class="item active">
                    <div class="slider2"></div>
                </div>
                <div class="item">
                    <div class="slider3"></div>
                </div>
                <div class="item">
                    <div class="slider4"></div>
                </div>
            </div>
        </div>


        <!--SERVICIOS-->
        <div class="container">


            <div class="hola-cont">
                <br>
                <p style="margin-bottom: 10px;">Hola, somos OpenClick. Un equipo de consultoria que le ofrece los servicios de Diseño Web, Sistemas Web , Sistemas de Seguridad OnLine, Identidad Corporativa ,E-marketing,  , Social media, Host, dominios, etc..</p>
                <p><b>Innovacion con simpleza y eficacia por ti.</b>
                </p>
            </div>
            <br>
            <div class="row" style="margin-top: 65px;margin-bottom: 50px;">
                <div class="col-xs-12 col-sm-6 col-lg-2 col-md-2 fig-bloq">
                    <a href="#/pricing">
                        <div class="ppkt">
                            <div class="balls-red">
                                <span id="disenioweb" class="img-responsive" style="background-position: 0px 0px;"></span>
                            </div>
                            <p style="font-style: italic;"><b>Diseño web</b>
                            </p>
                        </div>
                    </a>
                    <div class="caption-fig2">
                        <ul>
                            <li>- Diseño de Páginas Web.</li>
                            <li>- Apps para Redes Sociales.</li>
                            <li>- Juegos Interactivos.</li>
                            <li>- Catálogos Virtuales.</li>
                        </ul>
                        <a class="ver-mas" href="#/pricing">Ver más</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-2 col-md-2 fig-bloq">
                    <a href="#/services">
                        <div class="ppkt">
                            <div class="balls-red">
                                <span id="hosting" class="img-responsive" style="background-position: 0px 0px;"></span>
                            </div>
                            <p style="font-style: italic;"><b>Hosting</b>
                            </p>
                        </div>
                    </a>
                    <div class="caption-fig1">
                        <ul>
                            <li>- Plan Personal.</li>
                            <li>- Plan Pyme.</li>
                            <li>- Plan Corporativo.</li>
                        </ul>
                        <a class="ver-mas" href="#/services">Ver más</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-2 col-md-2 fig-bloq">
                    <a href="http://www.openclick.pe/">
                        <div class="ppkt">
                            <div class="balls-red">
                                <span id="identidad" class="img-responsive"></span>
                            </div>
                            <p style="font-style: italic;"><b>Identidad</b>
                            </p>
                        </div>
                    </a>
                    <div class="caption-fig2">
                        <ul>
                            <li>- Logotipos.</li>
                            <li>- Tarjetas Personales.</li>
                            <li>- Hojas Membretadas.</li>
                            <li>- Carpetas Institucionales.</li>
                        </ul>
                        <a class="ver-mas" href="http://www.openclick.pe/">Ver más</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-2 col-md-2 fig-bloq">
                    <a href="http://www.openclick.pe/">
                        <div class="ppkt">
                            <div class="balls-red">
                                <span id="impresos" class="img-responsive" style="background-position: 0px 0px;"></span>
                            </div>
                            <p style="font-style: italic;"><b>Impresos</b>
                            </p>
                        </div>
                    </a>
                    <div class="caption-fig2">
                        <ul>
                            <li>- Volantes-flyers.</li>
                            <li>- Trípticos-Dípticos.</li>
                            <li>- Catálogos.</li>
                            <li>- Brochures.</li>
                        </ul>
                        <a class="ver-mas" href="http://www.openclick.pe/">Ver más</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-2 col-md-2 fig-bloq">
                    <a href="#">
                        <div class="ppkt">
                            <div class="balls-red">
                                <span id="fotografia" class="img-responsive" style="background-position: 0px 0px;"></span>
                            </div>
                            <p style="font-style: italic;"><b>Fotografía</b>
                            </p>
                        </div>
                    </a>
                    <div class="caption-fig1">
                        <ul>
                            <li>- Institucional</li>
                            <li>- Catálogo.</li>
                            <li>- Alimentos.</li>
                        </ul>
                        <a class="ver-mas" href="#">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--PORTAFOLIO-->
    <div data-scroll-index="2" class="portfolio"  id="portfolio">
        <div class="container">
            <h2>Trabajos Recientes</span></h2>
            <i class="accent"></i>
            <p>Ultimos clientes satisfechos .</p>

            <ul id="filters" class="clearfix">
                <li><span class="filter active" data-filter="app card icon logos web">Todo</span></li>
                <li><span class="filter" data-filter="app">Diseño y Sistemas Web</span></li>
                <li><span class="filter" data-filter="card">Imagen Corporativa</span></li>
                <li><span class="filter" data-filter="icon">Sistemas de Seguridad</span></li>
            </ul>
            <div id="portfoliolist">
                <div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper grid_box">
                        <a href="openclick/images/bc2.jpg" class="swipebox"  title="Image Title"> <img src="openclick/images/bc2.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                    </div>
                </div>
                <div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper grid_box">
                        <a href="openclick/images/food.jpg" class="swipebox"  title="Image Title"> <img src="openclick/images/food.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                    </div>
                </div>
                <div class="portfolio icon mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="icon" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper grid_box">
                        <a href="openclick/images/brand.jpg" class="swipebox"  title="Image Title"> <img src="openclick/images/brand.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                    </div>
                </div>
                <div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper grid_box">
                        <a href="openclick/images/pho.jpg" class="swipebox"  title="Image Title"> <img src="openclick/images/pho.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                    </div>
                </div>
                <div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper grid_box">
                        <a href="openclick/images/sign.jpg" class="swipebox"  title="Image Title"> <img src="openclick/images/sign.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                    </div>
                </div>
                <div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper grid_box">
                        <a href="openclick/images/bcard.jpg" class="swipebox"  title="Image Title"> <img src="openclick/images/bcard.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                    </div>
                </div>
                <div class="portfolio icon mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="icon" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper grid_box">
                        <a href="openclick/images/pp.jpg" class="swipebox"  title="Image Title"> <img src="openclick/images/pp.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                    </div>
                </div>
                <div class="portfolio logos mix_all wow bounceIn" data-wow-delay="0.4s" data-cat="logos" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper grid_box">
                        <a href="openclick/images/diamond.jpg" class="swipebox"  title="Image Title"> <img src="openclick/images/diamond.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div><!--PORTAFOLIO-->

</div>
