<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="DENTALCLICKPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>net.codejava.spring.model.Perfil</class>
    <class>net.codejava.spring.model.Acceso</class>
    <class>net.codejava.spring.model.Usuario</class>
    <class>net.codejava.spring.model.Menu</class>
    <class>net.codejava.spring.model.Variable</class>
    <class>net.codejava.spring.model.Usuario_1</class>
    <class>net.codejava.spring.model.Menu_1</class>
    <class>net.codejava.spring.model.Acceso_1</class>
    <class>net.codejava.spring.model.Perfil_1</class>
    <class>net.codejava.spring.model.Variable_1</class>
    <class>net.codejava.spring.model.Seguridadpersona</class>
    <class>net.codejava.spring.model.Seguridadgrado</class>
    <class>net.codejava.spring.model.Seguridadauditoria</class>
    <class>net.codejava.spring.model.Seguridadperfil</class>
    <class>net.codejava.spring.model.Seguridadparametrodetalle</class>
    <class>net.codejava.spring.model.Seguridadestadocivil</class>
    <class>net.codejava.spring.model.Seguridadparametro</class>
    <class>net.codejava.spring.model.Seguridadopcionpefil</class>
    <class>net.codejava.spring.model.Seguridadbanco</class>
    <class>net.codejava.spring.model.Seguridadorganization</class>
    <class>net.codejava.spring.model.Seguridadorggrouprole</class>
    <class>net.codejava.spring.model.Seguridadgroup</class>
    <class>net.codejava.spring.model.Seguridadgrupogrado</class>
    <class>net.codejava.spring.model.Seguridadlogproceso</class>
    <class>net.codejava.spring.model.Seguridadopcionsistema</class>
    <class>net.codejava.spring.model.Seguridadusuario</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/dentalclick?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.password" value=""/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
    </properties>
  </persistence-unit>
</persistence>
